#projectlogo,
#projectlogo img,
div#projectlogo img.logo {
    width: 64px !important;
    height: 64px !important;
    object-fit: contain;
    padding: 8px 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

.footer {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin: 1em auto 40px;
}

.footer {
    margin-left: var(--side-nav-width);
    width: calc(100% - var(--side-nav-width));
    height: var(--foot-height);
    text-align: center;
}

.footer-logo {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 auto 0.5em auto;
}

.footer-text {
    line-height: 1.4;
}

.footer-note {
    font-size: 11px;
    color: #777;
    max-width: 60em;
    margin: 0.5em auto 0;
    line-height: 1.4;
}


#top {
    position: sticky;
    top: 0;
    z-index: 100;
    background: inherit;
}

#main-nav {
    position: sticky;
    top: var(--top-height);
    z-index: 90;
}

:root {
    --top-height: 120px;
    --foot-height: 96px;
    --side-nav-width: 300px;
}

#side-nav {
    position: fixed;
    top: 130px;
    bottom: 10px;
    left: 0;

    width: 300px;
    overflow: hidden;
}

#nav-tree {
    height: 100%;
}

#nav-tree-contents {
    height: calc(100% - 10px);
    overflow-y: auto;
}

#nav-tree-contents::-webkit-scrollbar {
    height: 10px;
}

#nav-tree-contents::-webkit-scrollbar-corner {
    background: transparent;
}

#nav-tree-contents::-webkit-scrollbar-thumb {
    background-color: rgba(120, 160, 240, 0.5);
    border-radius: 6px;
}

#nav-tree-contents::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 160, 240, 0.7);
}

#nav-tree-contents::-webkit-scrollbar:vertical {
    width: 8px;
}
